@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap"); 

* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
} 

:root {
  background: #3b5760; 
  color: #fff;
  font: 100%/1.4 "Ubuntu", sans-serif; 
  padding: 2em; 
}

/* Configuração de alinhamento */
section > * + *, 
.flow > * + * { 
  margin-top: 2em; 
} 

h2, 
footer, 
.text-center { 
  text-align: center; 
} 

/* logo */
a { 
  color: inherit; 
  text-decoration: none; 
  font-size: 2rem;
} 

/* navbar */
.navbar { 
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center; 
} 

.navbar h1 { 
  white-space: nowrap; 
  font-size: 2rem;
} 


/* image, image_galery */
img { 
  display: block; 
  max-width: 100%; 
  margin: 0 auto;
} 

.rounded, img#imagemGrande { 
  border-radius: 1em; 
} 

/* Animacion name */
[data-animation="phrase"] { 
  margin-inline: auto; 
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 4px solid white; 
  animation: phrase 2s steps(12) infinite alternate, 
    blenk 800ms steps(13) infinite normal; 
} 

@keyframes phrase { 
  from { 
    width: 0%; 
  } 

  to { 
    width: 16ch; 
  } 
} 

@keyframes blenk { 
  from { 
    border-color: black; 
  } 
  to { 
    border-color: transparent; 
  } 
} 

/* Sobre */
.history {
  text-align: justify;
  word-spacing: 0.3em;
}

/* box e icones */
.box { 
  display: block; 
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424; 
  padding: 1rem; 
  border-radius: 0.5rem;
} 

.box, li {
  font-weight: bold;
}

.box.icon { 
  padding: 1rem 1.25rem; 
  cursor: pointer;
} 

.icon { 
  font-size: 2em; 
} 

/* column e habilidades */
.row, 
.column { 
  display: flex; 
  gap: 1em; 
} 

.column { 
  flex-direction: column; 
} 

.center { 
  justify-content: center; 
} 

/* Projetos */
.galeria {
  display: inline-block;
  border: 1px solid #000;
  max-width: 100%;
  margin-bottom: 0.2rem;
}

.galeria, .image {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-gap: 0.2;
  padding: 0.5rem;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 1rem;
}

.image:hover {
  opacity: 1;
}


.container-galery {
  position: relative;
  display: none;
  max-width: 60%;
  margin: auto;
}

.container-galery, img {
  max-width: 100%;
}

.btc-fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 5rem;
  cursor: pointer;
}

/* scroll-bar*/
::-webkit-scrollbar {
  width: 0;
}

/* Information */
span {
  bottom: 1em;
}